
body{
  background-color: #22324b;
}
header{
  height: 60px;
  -webkit-text-fill-color: aliceblue;
}
h3{
  -webkit-text-fill-color: aliceblue;
  background-color: #a13425;
  
}
nav{
  background-color: #a13425;
  -webkit-text-fill-color: aliceblue;
}
  
  .row {
    table-layout: fixed;
    width: 100%;
    display: block;
}
.second.row{
  table-layout: fixed;
  width: 100%;
    display: block;
}
.pic {
  display: table-cell;
  padding-left: 20px;
  vertical-align: baseline;
}
.pic:first-child {
    padding-left: 0;
}
.pic img {
    vertical-align: bottom;
    width: 100%;

}
.pic p {
    margin: 0;
    text-align: center;
  
}
.h4{
  font-family: Georgia, 'Times New Roman', Times, serif;
}
p{
  font-family: Georgia, 'Times New Roman', Times, serif;
  -webkit-text-fill-color: aliceblue;
}
@media screen and (min-width: 200px) and (max-width: 480px){
  header{
    height: 60px;
    -webkit-text-fill-color: aliceblue;
    font-size: 0.95em;
  }
  h3{
    -webkit-text-fill-color: aliceblue;
    background-color: #56b6b2;
    font-size: 0.5em;
    
  }
  h4{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 0.5em;
  }
  p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    -webkit-text-fill-color: aliceblue;
    font-size: 0.2em;
  }
  .row{
    display: inline-flex;
    flex-direction:row;
    justify-content: space-around;
    flex-flow: wrap;
    }
    .second.row{
      display: inline-flex;
      flex-direction:row;
      justify-content: space-around;
      flex-flow: wrap;
    }

}
@media screen and (min-width: 481px) and (max-width: 768px){
  header{
    height: 60px;
    -webkit-text-fill-color: aliceblue;
    font-size: 1.3em;
  }
  h3{
    -webkit-text-fill-color: aliceblue;
    background-color: #753b35;
    font-size: 0.95em;
    
  }
  h4{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 0.95em;
  }
  p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    -webkit-text-fill-color: aliceblue;
    font-size: 0.4em;
  }
}
@media screen and (min-width: 769px){
  header{
    height: 60px;
    -webkit-text-fill-color: aliceblue;
  }
  h3{
    -webkit-text-fill-color: aliceblue;
    background-color: #a13425;
}
.h4{
  font-family: Georgia, 'Times New Roman', Times, serif;
}
p{
  font-family: Georgia, 'Times New Roman', Times, serif;
  -webkit-text-fill-color: aliceblue;
}
}


